.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  padding: 2rem;
}

h2 {
  position: sticky;
  top: 2rem;
  z-index: 10000;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}

.legend {
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
}

.legend span {
  flex-grow: 1;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}

.chart {
  height: calc(100vh - 4rem);
}

@media (prefers-color-scheme: dark) {
  html, body, h2 {
    background: black;
    color: white;
  }
  .legend span {
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  html, body, h2 {
    background: white;
    color: black;
  }
  .legend span {
    color: white;
  }
}
