:root {
  --app-series-a: blue;
  --app-series-b: red;
  --app-series-c: gold;
  --app-series-d: green;
  --app-series-e: firebrick;
  --app-series-f: darkkhaki;
  --app-series-g: deeppink;
  --app-series-h: darkorange;
  --app-series-i: lime;
  --app-series-j: black;
}

.chart {
  height: 100vh;
}

.app .label-a {
  color: white;
  background: var(--app-series-a);
}

.app .label-b {
  color: white;
  background: var(--app-series-b);
}

.app .label-c {
  color: white;
  background: var(--app-series-c);
}

.app .label-d {
  color: white;
  background: var(--app-series-d);
}

.app .label-e {
  color: white;
  background: var(--app-series-e);
}

.app .label-f {
  color: white;
  background: var(--app-series-f);
}

.app .label-g {
  color: white;
  background: var(--app-series-g);
}

.app .label-h {
  color: white;
  background: var(--app-series-h);
}

.app .label-i {
  color: white;
  background: var(--app-series-i);
}

.app .label-j {
  color: white;
  background: var(--app-series-j);
}

.app .ct-series-a .ct-line {
  stroke: var(--app-series-a);
}
.app .ct-series-b .ct-line {
  stroke: var(--app-series-b);
}
.app .ct-series-c .ct-line {
  stroke: var(--app-series-c);
}
.app .ct-series-d .ct-line {
  stroke: var(--app-series-d);
}
.app .ct-series-e .ct-line {
  stroke: var(--app-series-e);
}
.app .ct-series-f .ct-line {
  stroke: var(--app-series-f);
}
.app .ct-series-g .ct-line {
  stroke: var(--app-series-g);
}
.app .ct-series-h .ct-line {
  stroke: var(--app-series-h);
}
.app .ct-series-i .ct-line {
  stroke: var(--app-series-i);
}
.app .ct-series-j .ct-line {
  stroke: var(--app-series-j);
}
